<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Productos</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
        <style>
            .container {
                text-align: center; /* Centra el contenido horizontalmente */
                padding: 20px; /* A침ade un espacio alrededor del contenido */
            }
    
            img {
                display: block; /* Hace que la imagen sea un bloque para poder centrarla f치cilmente */
                margin: 0 auto; /* Centra la imagen horizontalmente */
                max-width: 100%; /* Ajusta el tama침o m치ximo de la imagen al ancho del contenedor */
            }
        </style>
    </head>
<body>
    <div data-role="page" data-theme="a">
        <div data-role="header" data-theme="b">
            <h1>Tienda de Ropa</h1>
            <div data-role="navbar" data-iconpos="left">
                <ul>
                    <li><a data-icon="home" data-theme="" href="">Inicio</a></li>
                    <li><a data-icon="plus" data-theme="" href="/api/clothing/<%= products.barcode %>">Agregar Producto</a></li>
                    <li><a data-icon="grid" data-theme="" href="">Productos</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <h1>Bienvenid@ a mi tienda de ropa "El Gran Bazar"</h1>
            <img src="src/img/ropa.png" alt="">
        </div>
</body>
</html>